.player {
  margin: 0px auto;
  padding: 50px;
}

.player__date {
  text-align: center;
  color: #0f0f0f;
  font-weight: 600;
  font-size: 18px;
  margin: 5px;
}

.player__next-details {
  text-align: center;
  font-size: 18px;
}

.player-details__img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.player-details__img img {
  display: block;
  margin: 0px auto 50px auto;
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.player-details__title {
  color: #0f0f0f;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.player-details__author {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.player-controls__play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #0f0f0f;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.player-controls__skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}

.player__duration {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.player__timer {
  display: flex;
  font-size: 15px;
  font-weight: 200;
  color: rgb(196, 196, 196);
}

@media only screen and (max-width: 760px) {
  .player__next-details,
  .player__date {
    text-align: center;
    font-size: 14px;
    margin: 2px;
  }

  .player-details__title {
    font-size: 20px;
  }
  .player-details__author {
    font-size: 16px;
  }
}
